NODE_ENV=production
PORT=3000

APP_BASE_URL=https://restaurantservicepos.com

PRECIO_MENSUAL=7.50
PRECIO_MENSUAL_SAAS=7.50

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
STRIPE_LIVE_CONFIRMADO=NO

EMAIL_PROVIDER=resend
EMAIL_FROM=Restaurant Service POS <no-reply@send.restaurantservicepos.com>
EMAIL_REPLY_TO=info@restaurantservicepos.com
RESEND_API_KEY=

CREADOR_EMAILS=alessio84force@gmail.com

LEGAL_NOMBRE_COMERCIAL=Restaurant Service POS
LEGAL_TITULAR_NOMBRE=
LEGAL_TITULAR_NIF=
LEGAL_FORMA_JURIDICA=
LEGAL_DOMICILIO_FISCAL=
LEGAL_CODIGO_POSTAL=
LEGAL_CIUDAD=
LEGAL_PROVINCIA=
LEGAL_PAIS=España
LEGAL_EMAIL=info@restaurantservicepos.com
LEGAL_SOPORTE=soporte@restaurantservicepos.com
LEGAL_CONTACTO=contacto@restaurantservicepos.com
LEGAL_DOMINIO=https://restaurantservicepos.com
LEGAL_EMAIL_ENVIO=no-reply@send.restaurantservicepos.com
LEGAL_PROVEEDOR_PAGOS=Stripe
LEGAL_PROVEEDOR_EMAILS=Resend
LEGAL_PROVEEDOR_DNS=Cloudflare
LEGAL_PRECIO_MENSUAL=7.50
